<!DOCTYPE html>
<html ng-app="theApp">
<head>
  <meta charset="utf-8">
  <title>Counters</title>
  <script src="angular.min.js"></script>
  <script src="digest.js"></script>  
</head>

<body ng-oninit="addVisitor()">

<h1>The Digest Cycle</h1>

<div ng-controller="theCounterController">
	<div>Once-counter: {{onceCounter}} times.</div>

	<button ng-click="multipleCounter()">Add 1</button>
	
	<p>Slow counter: {{counter}}
	
	<p><label for="name">???</label> <input id="name" type="text" ng-model="name">

	<hr>
	
	<p>Two way binding: <input ng-model="counter" type="text">. <small>If you change this value (which is our Add 1 counter), these changes will be visible everywhere you use that value, i.e. in the counter.</small>
	
	<p>One way binding: <input value="{{oneway}}" type="text">. <small>If you change this, AngularJS won't know about it, e.g. will still print {{oneway}}.</small>
	
	<p>One time binding: <input ng-model="onetime" type="text"> 
	<br>value: {{::onetime}}
	<br><small></small>

</div>

</body>
</html>