<!DOCTYPE html>
<html ng-app="newsApp">
<head>
  <meta charset="UTF-8">
  <title>News</title>
  <script src="angular.min.js"></script>
  <script src="news.js"></script>
</head>

<body>

<h1>Stories</h1>

<div class="story" ng-controller="newsController as story">
		<news-item></news-item>
		
		<h3>Comments</h3>
		<input ng-model="story.newComment"> <button ng-click="story.addComment()">Add</button>
		<ul>
			<comments></comments>
		</ul>
</div>

<div class="story" ng-controller="oldsController as story">
		<news-item></news-item>
		
		<h3>Comments</h3>
		<input ng-model="story.newComment"> <button ng-click="story.addComment()">Add</button>
		<ul>
			<comments></comments>
		</ul>
</div>

<script>
</script>

</body>
</html>