<!DOCTYPE html>
<html ng-app="shoppingList">
<head>
	<meta charset="utf-8">
	<title>Shopping list</title>
	<script src="angular.min.js"></script>
	<script src="shopping-list.js"></script>
</head>

<body>

	<h1>Shopping list</h1>

	<div ng-controller="shoppingListController">
		
		<h2>List 1</h2>
		<ul>
			<li ng-repeat="item in shoppingList1">{{item}}
		</ul>

		<h2>List 2</h2>
		<input type="text" ng-model="shoppingList2[0].qty">
		<ul>
			<li ng-repeat="item in shoppingList2">{{$index+1}}. Fetch  ({{item.qty}}) {{item.name}}{{multiplier(item.qty)}}
		</ul>
		
		<p><label>Add item with qty 50</label> <input type="text" ng-model="newItem">
		<p><button ng-click="addItem()">Add item</button>
	</div>

</body>
</html>