<!DOCTYPE html>
<html ng-app="shoppingList">
<head>
	<meta charset="utf-8">
	<title>Service providers</title>
	<script src="angular.min.js"></script>
	<script src="shopping-list.js"></script>
</head>

<body>

	<h1>Service providers</h1>
	
	<div ng-controller="shoppingListController as list">
		
		<h2>Shopping list</h2>

		<ul>
			<li ng-repeat="item in list.shoppingList | filter: filterItems">{{item.name}}{{list.multiplier(item.qty)}} ({{item.qty}}) <button ng-click="list.removeItem($index)">Delete</button>
		</ul>
		<p>List filter: <input type="text" ng-model="filterItems">
		<div class="msg">{{list.errorMessage}}</div>

		<h3>Add item</h3>
		<p><label>Item</label> <input type="text" ng-model="list.newItem">
		<p><label>Quantity</label> <input type="text" ng-model="list.newQty">
		<p><button ng-click="list.addItem()">Add item</button>
	</div>

</body>
</html>