<!DOCTYPE html>
<html ng-app="ShoppingListCheckOff">
<head>
	<meta charset="UTF-8">
	<title>Shopping list</title>
	<style type="text/css">
		#main::after { content: ""; float: none; }
		.col2 { width: 40%; float: left; border: 1px solid #000; padding: 1em; margin-right: 1em; }
		.col2:last-child { margin: 0em; }
	</style>
	<script src="../angular.min.js"></script>
	<script src="app.js"></script>
</head>

<body>

<h1>Shopping list</h1>

<div id="main">
	<div id="list-tobuy" class="col2" ng-controller="ToBuyController as buy">
		<h2>To buy</h2>

		<p ng-show="buy.itemList.length < 1">Everything is bought!
		
		<ul ng-if="buy.itemList.length > 0">
			<li ng-repeat="item in buy.itemList">Buy {{item.qty}} {{item | nameFilter }} <button ng-click="buy.buyItem($index)">Bought</button>
		</ul>
		
	</div>

	<div id="list-bought" class="col2" ng-controller="AlreadyBoughtController as bought">
		<h2>Already Bought</h2>

		<p ng-if="bought.itemList.length < 1">Nothing bought yet.

		<ul ng-show="bought.itemList.length > 0">
			<li ng-repeat="item in bought.itemList">Bought {{item.qty}} {{item | nameFilter}}
		</ul>

		<p>Items bought: {{bought.data.counter}}
	</div>
</div>

</body>
</html>